In [17]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
import pandas as pd
import numpy as np
from pyspark.sql.functions import *

In [18]:
spark

In [19]:
df = spark.read.option("delimiter", ",").csv("appl_accepted_20072019Q3.csv", header=True, inferSchema = True)

In [20]:
df.dtypes

[('id', 'string'),
 ('member_id', 'string'),
 ('loan_amnt', 'double'),
 ('funded_amnt', 'double'),
 ('funded_amnt_inv', 'double'),
 ('term', 'string'),
 ('int_rate', 'string'),
 ('installment', 'double'),
 ('grade', 'string'),
 ('sub_grade', 'string'),
 ('emp_title', 'string'),
 ('emp_length', 'string'),
 ('home_ownership', 'string'),
 ('annual_inc', 'string'),
 ('verification_status', 'string'),
 ('issue_d', 'string'),
 ('loan_status', 'string'),
 ('pymnt_plan', 'string'),
 ('url', 'string'),
 ('desc', 'string'),
 ('purpose', 'string'),
 ('title', 'string'),
 ('zip_code', 'string'),
 ('addr_state', 'string'),
 ('dti', 'string'),
 ('delinq_2yrs', 'string'),
 ('earliest_cr_line', 'string'),
 ('fico_range_low', 'string'),
 ('fico_range_high', 'string'),
 ('inq_last_6mths', 'string'),
 ('mths_since_last_delinq', 'string'),
 ('mths_since_last_record', 'string'),
 ('open_acc', 'string'),
 ('pub_rec', 'string'),
 ('revol_bal', 'string'),
 ('revol_util', 'string'),
 ('total_acc', 'string'),
 ('initial_list_status', 'string'),
 ('out_prncp', 'string'),
 ('out_prncp_inv', 'string'),
 ('total_pymnt', 'string'),
 ('total_pymnt_inv', 'string'),
 ('total_rec_prncp', 'string'),
 ('total_rec_int', 'string'),
 ('total_rec_late_fee', 'string'),
 ('recoveries', 'string'),
 ('collection_recovery_fee', 'string'),
 ('last_pymnt_d', 'string'),
 ('last_pymnt_amnt', 'string'),
 ('next_pymnt_d', 'string'),
 ('last_credit_pull_d', 'string'),
 ('last_fico_range_high', 'string'),
 ('last_fico_range_low', 'string'),
 ('collections_12_mths_ex_med', 'string'),
 ('mths_since_last_major_derog', 'string'),
 ('policy_code', 'string'),
 ('application_type', 'string'),
 ('annual_inc_joint', 'string'),
 ('dti_joint', 'string'),
 ('verification_status_joint', 'string'),
 ('acc_now_delinq', 'string'),
 ('tot_coll_amt', 'string'),
 ('tot_cur_bal', 'string'),
 ('open_acc_6m', 'string'),
 ('open_act_il', 'string'),
 ('open_il_12m', 'string'),
 ('open_il_24m', 'string'),
 ('mths_since_rcnt_il', 'string'),
 ('total_bal_il', 'string'),
 ('il_util', 'string'),
 ('open_rv_12m', 'string'),
 ('open_rv_24m', 'string'),
 ('max_bal_bc', 'string'),
 ('all_util', 'string'),
 ('total_rev_hi_lim', 'string'),
 ('inq_fi', 'string'),
 ('total_cu_tl', 'string'),
 ('inq_last_12m', 'double'),
 ('acc_open_past_24mths', 'double'),
 ('avg_cur_bal', 'string'),
 ('bc_open_to_buy', 'double'),
 ('bc_util', 'string'),
 ('chargeoff_within_12_mths', 'double'),
 ('delinq_amnt', 'double'),
 ('mo_sin_old_il_acct', 'double'),
 ('mo_sin_old_rev_tl_op', 'double'),
 ('mo_sin_rcnt_rev_tl_op', 'double'),
 ('mo_sin_rcnt_tl', 'double'),
 ('mort_acc', 'double'),
 ('mths_since_recent_bc', 'double'),
 ('mths_since_recent_bc_dlq', 'double'),
 ('mths_since_recent_inq', 'double'),
 ('mths_since_recent_revol_delinq', 'double'),
 ('num_accts_ever_120_pd', 'double'),
 ('num_actv_bc_tl', 'double'),
 ('num_actv_rev_tl', 'double'),
 ('num_bc_sats', 'double'),
 ('num_bc_tl', 'double'),
 ('num_il_tl', 'double'),
 ('num_op_rev_tl', 'double'),
 ('num_rev_accts', 'double'),
 ('num_rev_tl_bal_gt_0', 'double'),
 ('num_sats', 'double'),
 ('num_tl_120dpd_2m', 'double'),
 ('num_tl_30dpd', 'double'),
 ('num_tl_90g_dpd_24m', 'double'),
 ('num_tl_op_past_12m', 'double'),
 ('pct_tl_nvr_dlq', 'double'),
 ('percent_bc_gt_75', 'double'),
 ('pub_rec_bankruptcies', 'double'),
 ('tax_liens', 'double'),
 ('tot_hi_cred_lim', 'double'),
 ('total_bal_ex_mort', 'double'),
 ('total_bc_limit', 'double'),
 ('total_il_high_credit_limit', 'double'),
 ('revol_bal_joint', 'double'),
 ('sec_app_fico_range_low', 'double'),
 ('sec_app_fico_range_high', 'double'),
 ('sec_app_earliest_cr_line', 'string'),
 ('sec_app_inq_last_6mths', 'double'),
 ('sec_app_mort_acc', 'double'),
 ('sec_app_open_acc', 'double'),
 ('sec_app_revol_util', 'double'),
 ('sec_app_open_act_il', 'double'),
 ('sec_app_num_rev_accts', 'double'),
 ('sec_app_chargeoff_within_12_mths', 'double'),
 ('sec_app_collections_12_mths_ex_med', 'double'),
 ('sec_app_mths_since_last_major_derog', 'double'),
 ('hardship_flag', 'string'),
 ('hardship_type', 'string'),
 ('hardship_reason', 'string'),
 ('hardship_status', 'string'),
 ('deferral_term', 'string'),
 ('hardship_amount', 'string'),
 ('hardship_start_date', 'string'),
 ('hardship_end_date', 'string'),
 ('payment_plan_start_date', 'string'),
 ('hardship_length', 'string'),
 ('hardship_dpd', 'string'),
 ('hardship_loan_status', 'string'),
 ('orig_projected_additional_accrued_interest', 'string'),
 ('hardship_payoff_balance_amount', 'string'),
 ('hardship_last_payment_amount', 'string'),
 ('debt_settlement_flag', 'string'),
 ('debt_settlement_flag_date', 'string'),
 ('settlement_status', 'string'),
 ('settlement_date', 'string'),
 ('settlement_amount', 'string'),
 ('settlement_percentage', 'string'),
 ('settlement_term', 'string')]

In [21]:
# number of rows
row_count = df.count()

In [22]:
# NULL features list function

import pyspark.sql.functions as F

def drop_null_columns(df):
    """Return the sampled pandas dataframe.
    Args:
        df: pyspark dataframe
    Returns:
        data: pyspark data frame
        list: list of columns dropped
    """ 
    null_counts = df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df_orders.columns]).collect()[0].asDict()
    to_drop = [k for k, v in null_counts.items() if v > row_count*0.6]
    df = df.drop(*to_drop)
    return [df,to_drop]

In [ ]:
df_nan_filtered, null_list = drop_null_columns(df)

In [23]:
null_list

['member_id',
 'desc',
 'mths_since_last_record',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_revol_delinq',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [24]:
# function to sort string, numeric, datetime features

def dtype_list(df):
    str_var = [i[0] for i in df_nan_filtered.dtypes if (i[1]=='string')]
    num_var = [i[0] for i in df_nan_filtered.dtypes if ((i[1]=='int') | (i[1]=='double'))]
    print('string features :',str_var)
    print(len(str_var))
    print(' ')
    print('numerical features :',num_var)
    print(len(num_var))
    return [str_var,num_var]

string features : ['id', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'avg_cur_bal', 'bc_util', 'hardship_flag', 'debt_settlement_flag']
70

numerical features : ['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'installment', 'inq_last_12m', 'acc_open_past_24mths', 'bc_open_to_buy', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']
38

In [ ]:
str_features, num_features = dtype_list(df)

In [25]:
# function to sample the data.

def sample(df,no_samples,features):
    """Return the sampled pandas dataframe.
    Args:
        df: pyspark dataframe
        no_samples: number of samples to be taken
        features: list of all features
    Returns:
        data: pandas data frame
    """
    fraction = float(no_samples)/float(row_count)
    print('fraction of rows sampled', fraction)
    print('features sampled :', features)
    df_final = df.select([col for col in features])
    df_final = df_final.na.drop() # drop null rows
    df_final = df_final.sample(fraction) # sampling
    data = df_final.toPandas() # pyspark to pandas.
    return data

fraction of rows sampled 0.0005659202806964593
features sampled : ['addr_state', 'zip_code', 'purpose', 'url', 'total_cu_tl', 'avg_cur_bal', 'bc_util', 'hardship_flag']

In [ ]:
data = sample(df_nan_filtered,1500,['addr_state','zip_code','purpose','url','total_cu_tl', 'avg_cur_bal', 'bc_util', 'hardship_flag'])

In [26]:
data.head()

,addr_state,zip_code,purpose,url,total_cu_tl,avg_cur_bal,bc_util,hardship_flag
0,ME,040xx,credit_card,https://lendingclub.com/browse/loanDetail.acti...,2.0,41698.0,95.4,N
1,TX,785xx,credit_card,https://lendingclub.com/browse/loanDetail.acti...,0.0,8182.0,105.4,N
2,NY,112xx,credit_card,https://lendingclub.com/browse/loanDetail.acti...,0.0,2157.0,96.0,N
3,IN,462xx,vacation,https://lendingclub.com/browse/loanDetail.acti...,0.0,7690.0,57.3,N
4,VA,232xx,debt_consolidation,https://lendingclub.com/browse/loanDetail.acti...,0.0,19318.0,98.0,N

In [10]:
# function to change decimal to double.

In [27]:
# list of sensitive fields.

anonymize = {'addr_state': 'address','zip_code':'postcode' ,'purpose':['sentence',6] ,'url': 'url'}

In [28]:
# function to get faker object.

from faker import Faker
import pandas as pd

def get_faker(category):
    """Return the faker object to anonymize data.
    Args:
        category (str or tuple):
                Fake category to use. If a tuple is passed, the first element is
                the category and the rest are additional arguments for the Faker.
        Returns:
            function:
                Faker function to generate new fake data instances.
        Raises:
            ValueError:
                A ``ValueError`` is raised if the faker category we want don't exist.
    """
    if isinstance(category, (tuple, list)):
        category, *args = category
    else:
         args = tuple()

    try:
        faker_method = getattr(Faker(), category)

        if not args:
            return faker_method

        def faker():
            return faker_method(*args)

        return faker

    except AttributeError:
        raise ValueError('Category "{}" couldn\'t be found on faker'.format(category))

In [14]:
for i in anonymize:
    faker = get_faker(anonymize[i])
    field_data = [faker() for _ in range(7)]
    print(field_data)
    field_data = pd.Series([faker() for _ in range(7)])
    print(field_data)

['255 Janice Turnpike\nEatonside, VT 56974', '462 Guerrero Terrace\nMillerhaven, NE 10829', '214 Anthony Harbor\nSouth Robertview, SC 08025', '7615 Katie River\nLyonshaven, CT 81377', '358 Mcdonald Court Apt. 505\nJohnsonside, NV 47030', '7725 Kevin Wall Suite 847\nNew Sarah, OR 47961', '066 Watson Oval\nLake Jameshaven, NE 51392']
0             4182 Williams Ville\nJonestown, AK 35044
1    9098 Hannah Parkway Suite 579\nPort Alexandra,...
2                35195 Wood Island\nJosetown, MT 69369
3            773 Erica Springs\nWest Suzanne, MA 03783
4    99332 Randy Trail Apt. 966\nPort Brandon, DC 2...
5           63572 Lowe Vista\nChristinaburgh, OR 97779
6              0874 George Haven\nMccannfort, TN 03882
dtype: object
['17823', '27129', '69119', '24340', '40710', '62369', '72573']
0    77310
1    32398
2    39450
3    66783
4    37442
5    35862
6    17256
dtype: object
['Check to wind Mr care Mrs form.', 'Hospital history wall.', 'Movie least skill space long.', 'Foreign produce stage share smile fund special.', 'National decision long case sister size.', 'Thank detail actually happen performance by never strong.', 'Process act agreement blood author everyone sea beautiful.']
0                Building statement our gun include.
1                                Ability carry edge.
2             Appear style mission hear have beyond.
3                Sing issue manager night hand hear.
4        Range country woman who focus power manage.
5    Total season alone man stock experience option.
6               Indicate make worry thank religious.
dtype: object
['http://www.smith.com/', 'http://www.kelly.com/', 'https://www.carr.com/', 'http://www.murray.com/', 'https://www.johnson.com/', 'http://johnson.org/', 'https://www.ellis-white.biz/']
0             http://www.reid.biz/
1         http://edwards-rowe.com/
2      https://www.cook-smith.com/
3               http://wilson.biz/
4    http://www.nelson-hudson.com/
5         http://carroll-haas.com/
6     https://www.grant-ortiz.com/
dtype: object

In [31]:
# function to add fake data columns to dataframe.

def pii_faker(df, anonymize):
    """Return the dataframe with masked and added pii fields.
    Args:
        df: pandas dataframe
        anonymize: dictionary of sensitive fields and corresponding types (eg {'names':'name','zip_code':'postcode'}).
    Returns:
        data: pandas data frame with masked pii fields. 
    """   
    no_rows = df.shape[0]
    for i in anonymize:
        faker = get_faker(anonymize[i])
        df[i] = [faker() for _ in range(no_rows)]
    return df

In [32]:
data = pii_faker(data, anonymize)

In [33]:
data.head()

,addr_state,zip_code,purpose,url,total_cu_tl,avg_cur_bal,bc_util,hardship_flag
0,"6009 Lisa Manors\nJessicaburgh, VT 08683",82879,Hot look financial appear tonight.,https://fisher-dickerson.com/,2.0,41698.0,95.4,N
1,"2894 Tran Track Apt. 410\nNew Rachelburgh, VA ...",66371,Better minute make pressure.,http://mcbride.org/,0.0,8182.0,105.4,N
2,"11567 Amy Expressway Suite 599\nAndersontown, ...",18301,Staff oil true do tell itself.,https://www.nelson.com/,0.0,2157.0,96.0,N
3,"89717 Randy Views Suite 240\nBrandonshire, MS ...",59050,Red task strong executive.,http://www.harrington.com/,0.0,7690.0,57.3,N
4,"625 Charles Highway Suite 808\nMontesbury, TX ...",42250,Beautiful indeed represent Congress book coach...,http://www.meyers-wright.com/,0.0,19318.0,98.0,N

In [35]:
# function to tokenize a particular columns

import cape_privacy as cape
import pandas as pd

def tokenize(df,policy_file):
    """Return the dataframe with tokenized fields.
    Args:
        df: pandas dataframe
        policy_file: path to policy file.
    Returns:
        data: pandas data frame with tokenized fields. 
    """
    policy = cape.parse_policy(policy_file)
    # Apply the policy to the DataFrame
    df = cape.apply_policy(policy, df, inplace=False)
    return df

In [36]:
data = tokenize(data,'policy.yaml')

In [37]:
data.head()

,addr_state,zip_code,purpose,url,total_cu_tl,avg_cur_bal,bc_util,hardship_flag
0,"6009 Lisa Manors\nJessicaburgh, VT 08683",00f40516b2dd3b3fbda996d58152efa76856349c22,Hot look financial appear tonight.,https://fisher-dickerson.com/,2.0,41698.0,95.4,N
1,"2894 Tran Track Apt. 410\nNew Rachelburgh, VA ...",4a5acf6d62b287cb7a7220a310f156e0814d216c62,Better minute make pressure.,http://mcbride.org/,0.0,8182.0,105.4,N
2,"11567 Amy Expressway Suite 599\nAndersontown, ...",dc0117d7a56c5603f93030f9c2fed3ff3b5ff24eb4,Staff oil true do tell itself.,https://www.nelson.com/,0.0,2157.0,96.0,N
3,"89717 Randy Views Suite 240\nBrandonshire, MS ...",93eb02139778c48fadf91d805de36b580bc6e270be,Red task strong executive.,http://www.harrington.com/,0.0,7690.0,57.3,N
4,"625 Charles Highway Suite 808\nMontesbury, TX ...",71332a54ecb111b390bcd54335a55e1cb7e03d2705,Beautiful indeed represent Congress book coach...,http://www.meyers-wright.com/,0.0,19318.0,98.0,N